<app-navbar></app-navbar>

  <div class="container">
    <div class="about-container">
      <div class="about-image">
        <img src="1.png.jpeg" alt="Character" />
      </div>
      <div class="about-content">
        <h1>Dream Big, Work Hard, Achieve More!</h1>
        <p>
          Success takes a village. No matter how independent your job may be,
          you never truly work alone. And your individual commitment is only one
          part of the equation. Everyone’s work facilitates or disrupts a team’s
          ability to reach their goals and objectives.
        </p>
      </div>
    </div>
  </div>
  <div class="skills-container">
    <h2>I'm comfortable in...</h2>
    <div class="skills">
      <div class="skill">
        <a href="https://nextjs.org/">Next.Js</a>
      </div>
      <div class="skill">
        <a href="https://tailwindcss.com/">Tailwind Css</a>
      </div>
      <div class="skill"><a href="https://angular.dev/">Angular</a></div>
      <div class="skill"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></div>
      <div class="skill"><a href="https://blog.logrocket.com/ux-design/building-design-documentation/">Web Design</a></div>
      <div class="skill"><a href="https://expressjs.com/">Express.js</a></div>
      <div class="skill"><a href="https://nodejs.org/en">Node.js</a></div>
      <div class="skill"><a href="https://www.w3schools.com/html/">Html</a></div>
      <div class="skill"><a href="https://www.lucidchart.com/pages/landing/wireframe-software?utm_source=bing&utm_medium=cpc&utm_campaign=_chart_en_tier3_desktop_search_nb_phrase_&km_CPC_CampaignId=369684523&km_CPC_AdGroupID=1241349647819743&km_CPC_Keyword=wireframing&km_CPC_MatchType=e&km_CPC_ExtensionID={extensionid}&km_CPC_Network=o&km_CPC_AdPosition=&km_CPC_Creative=&km_CPC_TargetID=kwd-77584632561914:loc-90&km_CPC_Country=163437&km_CPC_Device=c&km_CPC_placement=&km_CPC_target=&mkt_query=Wireframing&msclkid=c6fc687d0b8b1fbd4bf90ed64869d91a">Wireframing</a></div>
      <div class="skill"><a href="https://moz.com/learn/seo/what-is-seo">SEO</a></div>
      <div class="skill"><a href="https://react.dev/">React</a></div>
      <div class="skill"><a href="https://www.mongodb.com/">Mongodb</a></div>
    </div>
  </div>

<app-footer></app-footer>
