<div class="container">
    <div class="logo">
        <img src="2.png" alt="Swayam Maurya Logo" title="Swayam's Blog">
        <p>Swayam Maurya Blog</p>
    </div>
    <div class="menu">
        <h5 (click)="onHome()">Home</h5>
        <h5 (click)="onAbout()">About</h5>
        <h5 (click)="onContact()">Contact</h5>
        
    </div>
    <div class="links">
        <a href="https://github.com/mauryaswayam" target="_blank" rel="noopener noreferrer">
            <img src="github.png" alt="GitHub" title="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/maurya-swayam-701b83272/" target="_blank" rel="noopener noreferrer">
            <img src="linkedin.png" alt="LinkedIn" title="LinkedIn">
        </a>
        <a href="https://wa.me/+919081373924" target="_blank" rel="noopener noreferrer">
            <img src="whatapp.png" alt="WhatsApp" title="WhatsApp">
        </a>
    </div>
</div>
